* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
}

/* Header */
#header {
    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("logos/fundo.jpg");
        
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #fff;
    padding: 3em 1em;
    text-align: center;
}


#header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1em;
}
#header nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

#header nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #e53359;
    transition: 0.3s;
}

#header nav a:hover::after {
    width: 100%;
}

#header {


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    padding: 2em;
    text-align: center;
} 
/* Banner */
#banner {
    background: linear-gradient(135deg, #1b6d7f, #e53359);
    color: #fff;
    text-align: center;
    padding: 4em 1em;
}

/* Intro cards */
#intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2em;
    padding: 3em;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: #fff;
    padding: 2em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 45px rgba(0,0,0,0.15);
}

.card img {
    width: 70px;
    margin-bottom: 1em;
}
.card i {
    font-size: 4em;
    color: #e53359;
    margin-bottom: 0.5em;
    transition: 0.4s;
}

.card:hover i {
    transform: scale(1.2) rotate(5deg);
}

/* Footer */
footer {
    text-align: center;
    padding: 2em;
    background: #252122d9;
    color: #fff;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeUp 0.8s ease forwards;
}

/* Responsivo */
@media (max-width: 600px) {
    #header nav ul {
        flex-direction: column;
    }
}
